*.pyc
*~
*.swo
*.swp
media
media-images
cache
.idea
static/CACHE
.sass-cache/
main.css
main.css.map
ref.css
ref.css.map
.coverage
backoffice/dev_settings\.py
env
docs/build
celerybeat-schedule
local_settings.py
.sass-cache
server.log
venv
